.success {
    background-color:burlywood;
    padding: 16px;
    color: white;
    display: none;
}

.error {
    font-size: 12px;
    padding: 8px;
    background-color: red;
    color: white;
    margin-bottom: 8px;
    display: none;
}

input.erro {
    color: red;
    border-color: red;
}